<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="css/application.css">

<div class="brand">
<a href="/">
<img class ="logo" src="img/Drawing.png" href="/"></img>
</a>
</div>

<div>
                <div class="img">
                    <img class ="size" src="img/howitworks.png"></img>
                </div>
                <div class="row">
                    <h1>Make your URL address<br/>
                    look really SHORT.</h1>
                    <p>(Please include "https://.." into URL) </p>
                    <form class="form-inline" action="urls" method="post">
                      <div class="form-group">
                        <input type="text" class="form-control" name="long_url" placeholder="Enter your URL address">
                      </div>
                      <button type="submit" class="btn btn-warning btn-lg">Make Me Short!</button>
                    </form>          
                    <p class="error"> <b> Error: Invalid or Existed Input!</b></p>
                
                
            </div><!-- /row -->
        </div>


